*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.button{
     height: 40px;
     padding: 10px;
     background-color: transparent;
    border: 1px solid; 
    border-radius: 30px; 
}
.button:hover{
    background-color: blue;
    color: white;
}
li:hover{
    cursor: pointer;
    border: 1px solid black ;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text{
   display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    color: brown;
}
.image{
    width: 500px;
}
a{
    text-decoration: none;
    color: black;
}
.heading{
    text-align: center;
}
.services{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.boxes{
    margin: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    

}
.box_1{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-style: italic;
    font-family: sans-serif;
    border-radius: 20px;
}